<h1>{{movie.title}}</h1>
<p>ID: {{movie.id}}</p>
<p>Title: {{movie.title}}</p>
<p>MPAA: {{movie.mpaa}}</p>
<p>Year: {{movie.year}}</p>
<p>Length: {{movie.length}}</p>
<p>Budget: {{movie.budget}}</p>
<p>Critic Average: {{movie.critic_average}}</p>